.container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.container-button{
    font-size: 2em;
    background: #3498db;
    color: #fff;
    border: 0.25rem solid #3498db;
    border-radius: 5px;
    padding: 10px 50px;
    text-decoration: none;
}

.container-button:hover{
    background: #40a0e0;
    border: 0.25rem solid #40a0e0;
    cursor: pointer;
}